<div class="row">
    <div class="col-sm-4">
        <h4>Available forms</h4>
        <div class="forms-list"></div>
    </div>
    <div class="col-sm-8">
        <h4>Details</h4>
        <div class="no-info">Please, select an item to see form...</div>
        <a href="" class="result-link" target="_blank" style="display: none;">Click to see results</a>
        <div class="form-info">
        </div>
    </div>
</div>
<script type="text/javascript">
    (function ($) {
        PageManager.RegisterPage(new $.Details.Page());
    }(jQuery));
</script>

