<div class="home">
    <div>This application represents Form builder and has three parts:</div>
    <ul>
        <li><span>Builder page</span> allow to create Forms;</li>
        <li><span>Details page</span> represents existing forms list and forms details;</li>
        <li><span>Results page</span> is hidden page, which shows form results.</li>
    </ul>
</div>

<script type="text/javascript">
    (function ($) {
        PageManager.RegisterPage(new $.Home.Page());
    }(jQuery));
</script>