<div class="results-page">
    <div class="head"></div>
    <div class="results"></div>
</div>

<script id="form-data" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="control-label">Form name</label>
        <div class="form-control">{{name}}</div>
    </div>
    <div class="form-group">
        <label class="control-label">Form description</label>
        <div class="form-control">{{description}}</div>
    </div>
</script>

<script id="form-results" type="text/x-handlebars-template">
    <div class="form-group">
    </div>
</script>

    <script type="text/javascript">
        (function ($) {
            PageManager.RegisterPage(new $.Results.Page());
        }(jQuery));

    </script>

